@keyframes flicker {
  0% {
    filter: brightness(1);
  }
  20% {
    filter: brightness(1.01);
  }
  40% {
    filter: brightness(1.03);
  }
  60% {
    filter: brightness(1.03);
  }
  80% {
    filter: brightness(1.05);
  }
  100% {
    filter: brightness(1);
  }
}

.flicker-effect {
  animation: flicker 0.2s infinite;
}
